In [1]:
#Bibliotecas a utlizar
import pandas as pd
from textblob import TextBlob
from nltk.sentiment import SentimentIntensityAnalyzer

In [2]:
# Carga el conjunto de datos
df_reviews_clean = pd.read_parquet('C:/Users/57315/OneDrive/Documentos/Phyton_Henry/proyecto individual 1/PI MLOps - STEAM/datasets_limpios/df_reviews_clean.parquet.gzip')

In [3]:

# Función para realizar el análisis de sentimiento y asignar el valor correspondiente
def analyze_sentiment(review):
    if pd.isnull(review):
        return 1  # Valor 1 para reseñas sin contenido
    else:
        # Utiliza TextBlob para análisis de sentimiento
        blob = TextBlob(review)
        polarity = blob.sentiment.polarity

        # Asigna valor según la polaridad
        if polarity < 0:
            return 0  # Valor 0 para reseñas negativas
        elif polarity == 0:
            return 1  # Valor 1 para reseñas neutrales
        else:
            return 2  # Valor 2 para reseñas positivas

In [5]:
# Aplica la función a la columna 'review'
df_reviews_clean['sentiment_analysis'] = df_reviews_clean['review'].apply(analyze_sentiment)

                                              review  sentiment_analysis
0  Simple yet with great replayability. In my opi...                   2
0               It's unique and worth a playthrough.                   2
0  Great atmosphere. The gunplay can be a bit chu...                   2
1  I know what you think when you see this title ...                   2
1  For a simple (it's actually not all that simpl...                   0

In [13]:

# Muestra algunas filas del dataFrame con la nueva columna
print(df_reviews_clean[['review', 'sentiment_analysis']].head())

                                              review  sentiment_analysis
0  Simple yet with great replayability. In my opi...                   2
0               It's unique and worth a playthrough.                   2
0  Great atmosphere. The gunplay can be a bit chu...                   2
1  I know what you think when you see this title ...                   2
1  For a simple (it's actually not all that simpl...                   0

In [15]:
#Elimina la columna review
df_reviews_clean = df_reviews_clean.drop(columns=['review'])

,posted,last_edited,item_id,recommend,user_id,sentiment_analysis
0,2011-11-05,None,1250,True,76561197970982479,2
0,2011-07-15,None,22200,True,76561197970982479,2
0,2011-04-21,None,43110,True,76561197970982479,2
1,2014-06-24,None,251610,True,js41637,2
1,2013-09-08,None,227300,True,js41637,0

In [16]:
#Genera nuevo archivo a partir de un dataframe
df_reviews_clean.to_parquet('C:/Users/57315/OneDrive/Documentos/Phyton_Henry/proyecto individual 1/PI MLOps - STEAM/datasets_limpios/df_reviews_sentiment.parquet.gzip', compression='gzip')